:root {
	--image-sidebar-bg-color: rgb(133, 89, 139);
	--aurelia-color: rgb(185, 123, 165);
	--aurelia-shadow: rgb(226, 212, 224);

	--form-sidebar-bg-color: rgb(249, 244, 245);
	--form-bg-color: rgb(211, 219, 250);
	--form-shadow: rgb(165, 157, 169);

	--input-field-grey: rgb(128, 128, 128);

	--button-shadow: rgb(128, 123, 116);
	--continue-color: rgb(211, 219, 250);
	--continue-hover-color: rgb(189, 199, 239);
	--login-color: rgb(242, 172, 117);
	--login-hover-color: rgb(243, 159, 95);

	--link-color: rgb(232, 152, 92);
}

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
}

div.image-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/city-line.png);
  background-size: cover;
  background-color: var(--image-sidebar-bg-color);
  width: 40%;
  padding: 100px;
  position: relative;
}

@media (max-width: 1100px) {
  div.image-sidebar {
    display: none;
  }
}

div.image-sidebar img {
  width: 400px;
  height: auto;
}

h1.brand {
  font-size: 3rem;
  text-shadow: 1px 1px 2px var(--aurelia-shadow);
  color: var(--aurelia-color);
  position: absolute;
}

div.form-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  background-color: var(--form-sidebar-bg-color);
  padding: 40px;
}

form#registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--form-bg-color);
  box-shadow: 4px 4px 8px var(--form-shadow);
  width: 90%;
  padding: 40px 40px 10px;
}

div.form-heading {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin: 12px;
}

div.form-heading img {
  width: 250px;
}

div.form-heading h2 {
  align-self: center;
}

div.input-fields-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.input-fieds-row + div.input-fieds-row {
  margin-top: 12px;
}

div.input-field {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  transition: 0.3s;
}

span.material-icons {
  color: var(--input-field-grey);
}

input {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--input-field-grey);
  width: 15rem;
}

.input-field-selected {
  transform: scale(1.1);
}

.touched:invalid {
  border-bottom: 1px solid red;
}

div.text-validation {
  display: flex;
  flex-direction: column;
  height: 26px;
  gap: 4px;
}

div.error {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: red;
}

div.agreements {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 4px;
}

div.checkbox-input-field {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type=checkbox] {
  flex-shrink: 0;
  width: fit-content;
}

label[for=mailing-list],
label[for=terms-conditions] {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: lighter;
}

span.link {
  font-weight: 400;
  color: var(--link-color);
  cursor: pointer;
}

button {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 16px 24px;
  box-shadow: 1px 1px 4px var(--button-shadow);
  cursor: pointer;
}

button[type=submit] {
  background-color: var(--continue-color);
  width: 100%;
  margin: 40px 40px 10px;
}

button[type=submit]:hover {
  background-color: var(--continue-hover-color);
}

div.login button {
  background-color: var(--login-color);
  margin-left: 10px;
}

div.login button:hover {
  background-color: var(--login-hover-color);
}

div.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

div.login {
  display: flex;
}

div.login h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}