@font-face {
	font-family: 'Dancing Script';
	src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'Hullist';
	src: url(./fonts/Hullist.otf);
}

@font-face {
	font-family: 'Raleway';
	src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'Montserrat';
	src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
	--hot-pink: rgb(215, 72, 134);
	--light-pink: rgb(255, 217, 223);
	--grey: rgb(72, 74, 78);
}

* {
	color: var(--grey);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

#content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

#logo {
	font-family: 'Dancing Script';
	font-size: 2rem;
	cursor: pointer;
}

#tabs button {
	font-family: 'Raleway';
	font-size: 1rem;
	letter-spacing: 0.2rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#tabs button:hover {
	font-weight: 500;
	border-bottom: 2px solid var(--hot-pink);
}

#hero {
	display: flex;
	flex-direction: column;
	gap: 40px;
	font-family: 'Montserrat';
	text-align: center;
	background: url(./assets/home/hero-bg.png) no-repeat;
	background-size: cover;
	padding: 40px 30px;
}

#heading {
	font-size: 3rem;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgb(88, 85, 85);
}

#location {
	color: var(--hot-pink);
}

#description {
	font-size: 1.8rem;
}

#actions {
	display: flex;
	justify-content: center;
	gap: 40px;
}

#actions button {
	display: flex;
	align-items: center;
	gap: 8px;
	font-family: 'Raleway';
	font-size: 1rem;
	letter-spacing: 0.1rem;
	background-color: white;
	border: 1px solid;
	padding: 16px 30px;
	cursor: pointer;
}

#actions button:hover {
	background-color: var(--light-pink);
	font-weight: 500;
	border: 1.5px solid;
}

#actions .icon {
	width: 40px;
	height: auto;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Raleway';
}

#informational {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
}

#informational .card {
	display: flex;
	align-items: center;
	gap: 16px;
	font-size: 1.2rem;
	border-radius: 12px;
	padding: 20px;
	height: 200px;
	width: 400px;
}

#informational img {
	width: 180px;
	height: auto;
}

#informational .text {
	text-align: center;
	height: 80%;
}

#informational .title {
	font-family: 'Montserrat';
	font-weight: 600;
	color: var(--hot-pink);
}

#policies {
	text-align: center;
	background-color: rgb(255, 216, 222);
	width: 100%;
	padding: 20px;
}

span.emphasis {
	font-weight: 500;
}

/* ABOUT */

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 10%;
	gap: 50px;
	background-image: url(./assets/about/about-bg.png);
}

#about .text {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: rgb(255, 250, 250);
	padding: 40px;
	border-radius: 20px;
}

#about h1 {
	font-family: 'Montserrat';
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	display: flex;
	align-self: center;
	gap: 8px;
	color: var(--hot-pink);
	margin: 0;
	text-shadow: 1px 1px 1px rgb(214, 167, 167);
}

#about h2 {
	letter-spacing: 0.05rem;
	font-family: 'Raleway';
	font-size: 1.2rem;
	font-weight: 400;
}

#about h1 img {
	width: 2.5rem;
}

#gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
}

#gallery img {
	width: 200px;
}