extends layout

block content
  div(id='hero')
    div(id='hero_background')
    div(id='hero_content')
      img(src="/images/hero_vinyl.jpg")
      div(id='hero_message')
        h2 Your Personal Vinyl Chronicles
        p Welcome to Needle + Groove, the ultimate digital haven for vinyl enthusiasts eager to chronicle their musical treasures. As the turntable spins and the needle dances across the grooves, each record holds a chapter of your unique musical journey waiting to be documented.
    
    //- div(id='forms')
    //-   div(class='form')
    //-     h3 Create Genre
    //-     form
    //-       div(class='input_block')
    //-         label Name
    //-         input(type='text')
    //-       div(class='input_block')
    //-         label Description
    //-         textarea(resize='none')
    //-       button Submit
      
    //-   div(class='form')
    //-     h3 Create Album
    //-     form
    //-       div(class='input_block')
    //-         label Title
    //-         input(type='text')
    //-       div(class='input_block')
    //-         label Description
    //-         textarea(resize='none')
    //-       div(class='input_block')
    //-         label Category
    //-         input(type='text')
    //-       div(class='input_block')
    //-         label Release Date 
    //-         input(type='text')
    //-       button Submit



