#forecast_summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--main-content-gaps);
}

#right_summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#forecast_temp {
  font-size: 2rem;
}
