#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--sub-content-gaps);
}

#credit {
  opacity: 60%;
  font-weight: 600;
}

#search_form {
  display: flex;
  align-items: center;
  gap: var(--sub-content-gaps);
  width: 50%;
}

#search_icon {
  flex-shrink: 0;
}

#search_form input {
  flex: 1;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem white solid;
  padding: 0.5rem;
  outline: none;
}
