* {
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: rgb(255, 69, 0);
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 50px;
}

.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px rgb(0, 0, 0) solid;
  width: 600px;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  border: 0.5px rgb(34, 34, 35) solid;
  cursor: pointer;
}

.color-picker {
  position: relative;
  display: inline-block;
}

input[type="color"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  pointer-events: none;
}

button {
  font-size: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 140px;
  height: 80px;
  cursor: pointer;
}

.color-selector {
  background-color: rgb(200, 39, 33);
}

.rainbow-selector {
  background-color: rgb(234, 111, 29);
}

.eraser-selector {
  background-color: rgb(77, 173, 9);
}

.light-shader-selector {
  background-color: rgb(14, 66, 186);
}

.dark-shader-selector {
  background-color: rgb(144, 41, 144);
}

.reset-selector {
  background-color: rgb(199, 21, 133);
}

footer {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 16px;
  background-color: rgb(255, 69, 0);
  color: rgb(255, 255, 255);
}

.scale {
  accent-color: rgb(248, 241, 241);
}