#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--main-content-gaps);
  margin: var(--main-content-gaps);
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
  flex: 1;
}

#upper_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--main-content-gaps);
  width: 100%;
}

.block {
  overflow: scroll;
}
