.action-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 120px;
  padding: 50px 70px;
  border-radius: 10px;
  background-color: #3882F6;
}

.action-container .main-text {
  font-size: 20px;
  font-weight: bold;
  color: #F9FAF8;
  margin-bottom: 4px;
}

.action-container .secondary-text {
  font-weight: lighter;
  color: #F9FAF8;
}

.sign-up-action {
  border: 1px solid #F9FAF8;
}