.header {
  background-color: #1F2937;
  padding: 20px 220px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.logo {
  flex-shrink: 0;
  font-size: 24px;
  font-weight: bolder;
  color: #F9FAF8;
}

nav {
  display: flex;
  gap: 28px;
}

.link {
  flex-shrink: 0;
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 120px 0;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-bottom: 4px;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;
}

.hero-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aca9a9;
  width: 600px;
  height: 300px;
  color: white;
  flex-shrink: 0;
}

button {
  background-color: #3882F6;
  border: 1px solid #3882F6;
  border-radius: 4px;
  cursor: pointer;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 24px;
}