.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 48px;
  background-color: rgb(253, 213, 91);
}

.info-title {
  text-align: center;
  font-size: 44px;
  font-weight: bolder;
  padding: 48px;
  color: rgb(45, 46, 48);
}

.info-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 380px;
  padding: 50px 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  background-color: rgb(255, 252, 225);
}

.minion-name {
  font-size: 44px;
  font-weight: bolder;
  color: rgb(143, 8, 8);
  margin-bottom: 16px;
}

.info-container img {
  flex-shrink: 0;
  height: 300px;
  width: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

.caption {
  font-size: 22px;
  font-weight: 500;
  color: rgb(81, 80, 80);
}